/*
<nav class="menu-principal-container">
  <ul id="menu-principal" class="menu"><li id="menu-item-36" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-36"><a href="http://localhost:81/4w4-2024-gr2/2020/10/07/350-5n1-communication-et-dynamique-dune-equipe-de-travail-45h/">Communication</a></li>
  <li id="menu-item-37" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-37"><a href="http://localhost:81/4w4-2024-gr2/2020/10/07/393-5e1-methodes-de-recherche-et-preparation-au-marche-du-travail-45h/">Méthodes de recherche</a></li>
  <li id="menu-item-38" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-38"><a href="http://localhost:81/4w4-2024-gr2/2020/10/07/582-1j1-animation-et-interactivite-en-jeu-75h/">Animation en jeu</a></li>
  <li id="menu-item-39" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-39"><a href="http://localhost:81/4w4-2024-gr2/2020/10/07/description-du-cours-582-1m1-creation-video/">Création vidéo</a></li>
  <li id="menu-item-42" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-42"><a href="#accueil">Accueil</a></li>
  <li id="menu-item-43" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-43"><a href="#galerie">Galerie</a></li>
  <li id="menu-item-44" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-44"><a href="#evenement">Événement</a></li>
</ul>
</nav>
*/
.menu-principal-container { //nav
    position: fixed;
    top:0;
    left:50px;
    z-index: 2;
    width: 100vw;
    height: 100vh;
    transform : translateX(-200%);
    background-image: linear-gradient(0deg, rgb(232, 95, 57), rgb(211, 157, 30));
    border: black 2px solid;
    padding: 5%;
    z-index: 10;
    @media screen and (min-width:700px) {
      width: auto;
      height: auto;
      position: static;
      transform : translateX(0);
      background-color: rgba(0, 0, 0, 0);
      background-image: none;
      border: none;
      padding: 1%;
}
}

#menu-principal{ // ul
 display : flex;
 flex-direction: column;
 list-style-type: none;
 justify-content: flex-start;
 align-items: flex-start;
 @media screen and (min-width:700px) {
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
 }

}
.menu-item{ //li
  margin-bottom: 60px;
  font-size: clamp(2rem, 0.5rem + 3vw, 2.5rem);
  color: rgba(108, 183, 221, 0.795);
  @media screen and (min-width:700px) {
    color: black;
    margin-bottom: 7px;
    font-size: 1rem;
    padding: 15px;
    &:hover {
      background-color: rgba(241, 171, 7, 0.95);
    }
   }
}

.menu-item a{ //li a
  text-decoration: none;
  border: solid 3px black;
  border-radius: 10px;
  padding: 5px;
  background-color: rgba(255, 81, 0, 0.244);
  &:hover {
    background-color: rgba(246, 134, 83, 0.407);
  }
  @media screen and (min-width:700px) {
    border: none;
    padding: 0;
    font-size: 1rem;
    background-color: transparent;
   }
}

/*Le menu se cache si l'on arrete de hover par dessus le nav entre 700px et 1100px de window width (A CORRIGER)*/

.menu-item-89 {
  position: static;
  margin-top: 60px;
  
  @media screen and (min-width:700px) {
    margin: auto;
  }
}

#chk_burger{
  display: none;
}

#burger {
  display: block;
  position: absolute;
  top:0;
  left:0;
  @media screen and (min-width:700px) {
    display : none;
  }
}  


#chk_burger:checked ~ .menu-principal-container {
  transform : translateX(0);
}

.container-taille ul {
    display: none;
    &:hover {
      display: block;
    }

}

.container-taille:hover > ul {
  display: block;
  @media screen and (min-width:700px) {
    position: absolute;
    z-index: 8;
    background-color: rgba(241, 171, 7, 0.95);
    padding: 10px;
    margin-left: -15px;
  }
}