
.section__cours {
    display: flex;
    flex-wrap: wrap;
    gap : 1rem;
    margin: 2.5rem;
}

.carte {
    //border : 1px solid #aaa;
    padding : 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex : 1 0 calc(1010px/4);
    background-color: hsl(var(--hu1),var(--s-couleur-arriere),  75%);
    border-radius: 20px;
    border: ridge 2px black;
}

.carte *{
    text-align: center;
}
.carte .post-categories {
    list-style-type: none;
    display: flex;
}

.carte h4::first-letter {
    font-size: 2.5rem;
    color: rgb(69, 52, 3);
}

.carte h4 {
    font-size: 1.6rem;
}

.lien__carte {
    text-decoration: underline;
}