/* ANCIENNE SEARCHBAR
.recherche{
    display: flex;
    border : 1px solid #aaa;
    justify-content: center;
}

.recherche__input{
    display: block;
    background-color: rgb(58, 58, 136);
    color: rgb(228, 228, 228);
    &::placeholder {
        color: rgb(199, 199, 199);
       margin-left: 5px;
    }
}


.recherche__button{
    background-image: linear-gradient(60deg, rgb(82, 82, 213), rgb(7, 7, 122));
    padding: 5px;
}

input::-webkit-search-cancel-button {
    -webkit-appearance: none;
    content: URL("images/delete.png");
    width: 30px;
    height: 30px;
    cursor: pointer;
   }

.icone-recherche {
    color: rgb(228, 228, 228);
}
*/

input::-webkit-search-cancel-button {
    -webkit-appearance: none;
    content: URL("images/delete.png");
    width: 25px;
    height: 25px;
    cursor: pointer;
}
.recherche {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 1rem;
}

.recherche__input {
    font-family: "Madimi One", sans-serif;
    padding: 0.5rem;
    margin-right: 10px;
    border-radius: 30px;
    font-size: 1.5rem;
    background-color: rgba(228, 228, 228, 0.911);
    &::placeholder{
        color: rgba(0, 0, 0, 0.275);
    }
}

.recherche__bouton {
    padding: 0.6rem;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.239);
    &:hover {
        background-color: rgba(255, 255, 255, 0.451);
    }
}